torch==2.2.2
torchvision==0.17.2
mujoco==2.3.7
gymnasium[box2d]==0.29.1
stable-baselines3[extra]==2.3.0
sacred==0.8.5
huggingface-sb3==3.0
datasets==2.18.0
seals==0.2.1
gymnasium-robotics==1.2.4
numpy<2
diffusers[torch]
opencv-python
POT
tqdm
einops
tensorboard
wandb
gdown